body{
    background-color: #f9f9f9;
  
}
.video-container {
    display: flex;
    align-items: flex-start;
    flex: 0.7;
   
   margin-top: 10px;
   flex-direction: column;
  

   
}
.video-player {
    margin-left: 5rem;
}
.video-desc {
    display: flex;
    flex-direction: column;
   
}
.video-desc > h4 {
    font-size: large;
    margin-top: 10px;
}
.video-icons {
    display: flex;

    justify-content: space-between;
    margin-top: 5px;
   
    position: relative;
   margin-bottom: 5px;
    
}
.video-icons-right {
    display: flex  !important;
    align-items: center !important;
  justify-content: flex-end !important;
  padding-right: 10px;
  
}
.icons{
    margin-right: 10px;
}
.video-player > hr {
    margin-top: 1rem;
}
.channel {
    display: flex;
   margin-top: 15px;
    align-items: center;
    position: relative;
    justify-content: space-between;
   
    
}
.channel-desc {
    margin-left: 15px;
   justify-content  : flex-start;
}
.channel-name{
    font-weight: bold;
}
.subs {
    color: gray;
    font-size: small;
}
.right {
    display: flex;
    justify-content: flex-start;
}
.video-avatar {
    height: 50px !important;
    width: 50px !important;
   
}
.sub-btn {
display: flex;
align-items: center;
justify-content: flex-end;

}
.sub-btn > input {

padding: 10px;
color: white;
background-color: red;
border: none;
cursor: pointer;
}